<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!--Filter1-->
    <!--<filter>
        <filter-name>filter1</filter-name>
        <filter-class>com.bjpowernode.javaweb.servlet.Filter1</filter-class>
    </filter>-->
    <!--<filter-mapping>
        <filter-name>filter1</filter-name>-->
        <!--<url-pattern>/a.do</url-pattern>
        <url-pattern>/b.do</url-pattern>-->
        <!--<url-pattern>*.do</url-pattern>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--Filter2-->
    <!--<filter>
        <filter-name>filter2</filter-name>
        <filter-class>com.bjpowernode.javaweb.servlet.Filter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filter2</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>-->

</web-app>